MIOBRA_USERNAME=your_email@example.com
MIOBRA_PASSWORD=your_password

GCP_PROJECT_ID=your_project_id
GCS_BUCKET=your_bucket_name
GCS_OBJECT=data.jsonl
BQ_DATASET=MIOBRA
BQ_TABLE=ordenes_compra

LOG_LEVEL=info
